<main class="container">
  <div class="card mt-4">
    <div class="card-body">
      <h1 class="display-5 card-title">{{author.username}}</h1>
    </div>
    <div class="card-body">
      <p>{{author.description}}</p>

      <div class="text-end">
        <a class="btn btn-primary" href="/stories">Ver Historias</a>
      </div>

    </div>
  </div>

  <h2 class="my-4">Útltimas Hitorias</h2>

  {{#each stories as |story|}}

    <div class="card mb-4">
      <div class="card-body">
        <h3 class="card-title">{{story.title}}</h3>
        <p class="">{{story.summary}}</p>
        <a href="/story/{{story.id}}" class="btn btn-primary">Ver</a>
      </div>
    </div>

  {{/each}}
</main>