<main class="container">
  {{#each stories as |story|}}

    <div class="card my-2">
      <div class="card-body">
        <h3 class="card-title">{{story.title}}</h3>
        <p class="">{{story.summary}}...</p>
        <a href="/story/{{story.id}}" class="btn btn-primary">Ver</a>
        <a class="btn btn-success" href="/update-story/{{story.id}}">Editar</a>
      </div>
    </div>

  {{/each}}

  {{{for pagination}}}

</main>